body {
  
  /* background-image: url("grass7.jpg");
  background-repeat: no-repeat;
  background-position: center; */

  /* background-size: cover; */
  /* box-sizing:border-box; min-height:100%;
  padding:10px;
  background-image: url("grass7.jpg");
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  
  
  /* background-size: 100%; */

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px, black;
  margin: 25px;
  background-color: black;
  /* padding: -200px; */
  /* margin: 150px */
  /* border: -200px; */

  /* width: 55%; */
  /* height: 55px; */
  
  }
  
  

h1 {
  font-size: 75px;
  /* font-family: "Copperplate", "Fantasy", serif; */
  }

.heading {
  display: flex;
  justify-content: center;
  align-items: center; 
  /* background-image: url("grass7.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  border: 5px, black;
  background-color: white;
  }

.texthead {
  font-size: 25px;
  }

.mainhead {
  font-family: Helvetica, Arial, sans-serif;
  word-spacing: -10px; 
  letter-spacing: -3px;
  }

#navbar {
  font-size: 25px;
  margin-top: -24px;
  word-spacing: 45px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  /* height: 80px; */
  /* padding: 0.01px 0; */
  background: white;
  border:1px, black
  

  
  }

a {
  color: black;
  }

h3 {
  font-size: 30px;
  text-decoration: underline;
  color:white;
  
  }
h4 {
  font-size: 25px;
  /* text-decoration: underline; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: -75px;
  }

.story {
  /* background-color: white;
  width: 600px;
  border-width: 5px, black;
  align-self: center; */
  
margin: auto;
width: 600px;
/* border: 1px solid black;
padding: 5px; */
background-color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
color: white;

  }

  
